.playerStyle {
    background-color: black;
    margin: 0 auto;
}

.health {
    background-color: black;
    color: #ededed;
}

.header {
    background-color: grey;
}

.buttons {
    margin-top: 4%;
}

.healthbar {
    margin-top: 2%;
}